$white: #fff;
$black: #000;

$primary: #000;
$secondary: #333;
$red: #C1272D;

// $orange: #e87722;
// $gray: #1a1a1a;
// $light-gray: #ccc;

// $primaryColor: #fff;
// $secondaryColor: #fd5f00;

// $text-color: #999;
// $text-color2: #383838;
// $content-color: #ccc;

// $backgroundColor: #0d0d0d;
// $backgroundColor2: #1a1a1a;
// $backgroundColor3: #e5e5e5;

// $btnBackground: #ff8030;
// $btnBackgroundHover: #1a1a1a;
// $btnColor: #fff;

// $navy-blue: #13334c;
// $blue: #005792;

// $dark-gray: #eceff1;
// $yellow: #ffc000;
// $green: #00c34e;
// $green-link: #00c34e;
// $offwhite: #fafafc;
// $black: #091925;
// $color-disable: #b3bcc5;
// $fire-opal: #EB5757;


$background-body: #E5E5E5;
$background-benefits: #F2F2F2;
$background-inspo: #F2F2F2;
$background-input: #F2F2F2;


/* hamburger */
$navBackground: #0d0d0d;
$navWidth: 12rem;
$nav-toggle-bar-height: 2px;
$nav-toggle-bar-width: 1.6rem;
$nav-toggle-z-index: 22;
$nav-z-index: 23;

/* fonts */
$font-family-base: "Montserrat", sans-serif;
$primaryFont: "Montserrat", sans-serif;
$secondaryFont: "Open Sans", sans-serif;

$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-offcanvas: 1050;
$zindex-modal: 1060;
$zindex-popover: 1070;
$zindex-tooltip: 1080;
