@import 'slick-carousel-latest/slick/slick.css';


.hero-banner {
    width: 100%;
    height: 650px;
    overflow: hidden;
    z-index: $zindex-dropdown;

    .slick-slider, .slick-list, .slick-track {
        height: 100%;
    }

    // .slick-prev, .slick-next {
    //     display: block;
    //     position: absolute;
    //     top: 50%;
    //     width: 44px;
    //     height: 22px;
    //     padding: 0;
    //     border: 1px solid $primary;
    //     border-radius: 15px;
    //     background: transparent;
    //     color: transparent;
    //     outline: none;
    //     cursor: pointer;
    //     transform: translate(0, -50%);
      
    //     @include fontSize(0);
    //     @include lineHeight(22);
    //     @include transition();

    //     &:hover {
    //         color: transparent;
    //         outline: none;
    //         background: $primary;
    //     }

    //     @include media-breakpoint-down(md){
    //         background: $orange;
    //         width: 130px;
    //         height: auto;
    //         border-radius: 50px;
    //         position: relative;
    //         margin: 0 5px;
    //         display: inline-block;

    //         &:before{
    //             @include fontSize(27);
    //         }
    //     }
    // }

    // .slick-prev {
    //     left: -60px;

    //     @include media-breakpoint-down(md){
    //         left: 0;
    //     }

    //     &::before {
    //         content: "←";
    //     }
    // }

    // .slick-next {
    //     right: -60px;

    //     @include media-breakpoint-down(md){
    //         right: 0;
    //     }

    //     &::before {
    //         content: "→";
    //     }
    // }

    // .slick-prev:before, .slick-next:before {
    //     @include fontSize(17);
    //     @include lineHeight(20);
        
    //     color: $white;

    //     @include media-breakpoint-down(md){
    //         @include fontSize(23);
    //         @include lineHeight(38);
    //     }
    // }

    // .portfolio-thumb-item {
    //     cursor: pointer;
    //     filter: grayscale(100%);
        
    //     @include transition();

    //     &:hover {
    //         filter: none;
    //     }
    // }
}
